.get-button{
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: burlywood;
    font-weight: bold;
    
}
.list{
    width: 20 px;
    font-weight: bolder;
    padding: 10px;
    align-items: center;
    
}