.float-container {
    text-align: center;
    padding: 40px;
}

.float-child-left {
    text-align: center;
    width: 30%;
    float: left;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}  

.float-child-right {
    text-align: center;
    width: 30%;
    float: right;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.float-btn{
    width: 200px;
    height: 40px;
    background-color: gray;
    font-weight: bold;
    
}
.get-button{
    color: darkslategray;
    font-size: x-large;
    background-color: rgb(190, 223, 223);
    padding: 10px;
    border: 2px solid darkslategray;
    border-radius: 10px;
    
}
.float-show{
    width: 200px;
    height: 40px;
    background-color: green;
    font-weight: bold;
    border-radius: 5px;
}
.float-hide{
    width: 200px;
    height: 40px;
    background-color: crimson;
    font-weight: bold;
    border-radius: 5px;
}
