<div class="float-container">
    <h1>Home Component</h1>
    <h1>{{number}}</h1>
    <div>
        <button class="float-btn" (click)="reset(number)">Reset</button>
    </div>
    <br>
    <div>
        <button class="float-show" (click)=show()>SHOW</button>
        <button class="float-hide" (click)=hide()>HIDE</button>
    </div>
</div>
<app-left-child class="float-child-left" (childEvent)="number=$event" [parentData]="number"
    [hideData]="isButtonVisible"></app-left-child>

<app-right-child class="float-child-right" (childEvent)="number=$event" [parentData]="number"
    [hideData]="isButtonVisible"></app-right-child>

<br><br><br><br><br><br><br><br><br><br><br><br>

    <nav>
        <a routerLink="getRequest" routerLinkActive="active" class="get-button"> GET </a>
    </nav>

<router-outlet></router-outlet>