.float-container {
    text-align: center;
    padding: 40px;
}

.float-child-left {
    text-align: center;
    width: 30%;
    float: left;
    padding: 20px;
    border: 2px solid black;
}  

.float-child-right {
    text-align: center;
    width: 30%;
    float: right;
    padding: 20px;
    border: 2px solid black;
} 
.float-btn{
    width: 200px;
    height: 40px;
    background-color: gray;
    font-weight: bold;
    
}
.float-input{
    margin: 10px;
    width: 190px;
}
.float-copy-btn{
    border-width: 5px;
    border-color: rgb(151, 151, 151);
}